body {
  margin: 0;
  font-family: system-ui;
  background: #0f172a;
  color: white;
}

.app {
  padding: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: #1e293b;
  color: white;
}

button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: white;
}

.card {
  background: #1e293b;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
